body {
    background-image: linear-gradient(#320F6A, #400080,#5900b3, #8c1aff) ;
}

h1#nome-site {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

img#foto {
    display: block;
    margin: 0 auto;
    transition: opacity 0.3s ease-in-out;
}


div#container {
    align-items: center;
    display: flex;
    justify-content: center ;
}

button#button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 15px;
    color: white;
    background-color: #8c1aff;
    font-weight: bold;
    transition-duration: 0.2s;
}

button#button:hover {
    background-color: #5900b3;
    transform: scale(1.0);
}

button#button a {
    text-decoration: none;
    font-style: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

main#principal {
    display: flex;
}

div#box {
    display: flex;
    justify-content: space-around;
    margin: 0;
    flex: 1;
}

h1#texto {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
}

iframe#video {
    display: flex;
    flex: 1;
}

footer div#rodape {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

footer div#rodape a { 
    display: inline-block;
    margin: 0 10px;
    font-size: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    border: solid white;
    border-radius: 15px;
    transition-duration: 0.2s;
}

footer div#rodape a:hover {
    background-color: #5900b3;
    transform: scale(1.2);
}